* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container {
    max-width: 1170px;
    margin: 0 auto;
    background: lightgray;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-1-5 {
    width: 20%;
    padding: 15px;
}
.photo {
    width: 100%;
}
h3{
    color: white;
}
header {
    text-align: center;
    padding: 15px 15px;
    background: goldenrod;
    display: flex;
    justify-content: space-between;
}
.fon {
   color: goldenrod;
}
.search-input {
   border-radius: 5px;
   height: 50px;
   width: 450px;
   font-size: 25px;
}
.button {
    height: 50px;

}
.bbb {
    margin-bottom: 150px;
}
.tt {
    display: flex;
    flex-wrap: wrap;

}
.fff {
    background: lightgray;
}
.err {
    color: red;
    background: black;
}